@using Moonlight.Client.App.Interfaces
@using Moonlight.Client.App.PluginApi
@using Moonlight.Client.App.Services
@using Moonlight.Client.App.UI.Components.Partials

@inherits LayoutComponentBase

@inject PluginService PluginService
@inject IServiceProvider ServiceProvider
@inject EventService Events

@if (IsLoading)
{
    <div class="h-full w-full min-h-[100dvh] flex items-center">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-sm text-center">
                <div class="mb-4">
                    <div role="status">
                        <svg aria-hidden="true"
                             class="inline w-10 h-10 animate-spin text-slate-600 fill-blue-600"
                             viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                  fill="currentColor"/>
                            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                  fill="currentFill"/>
                        </svg>
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <p class="mb-4 text-3xl tracking-tight font-bold  md:text-4xl text-white">Initializing</p>
                <p class="mb-4 text-lg font-light  text-slate-400">Starting the moonlight client</p>
            </div>
        </div>
    </div>
}
else if (CurrentScreen != null)
{
    @CurrentScreen.Render()
}
else
{
    <div>
        <AppSidebar MainLayout="this" />
    
        <div class="xl:pl-72">
            <AppSearch MainLayout="this" />
        
            <main class="px-5 pt-5 text-white">
                @Body
            </main>
        </div>
    </div>
}

@code
{
    public bool MobileSidebarToggle { get; set; } = false;

    private IAppScreen? CurrentScreen = null;

    private bool IsLoading = true;

    public async Task ToggleMobileSidebar()
    {
        MobileSidebarToggle = !MobileSidebarToggle;
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(!firstRender)
            return;

        var loaders = PluginService.GetImplementations<IAppLoader>();

        foreach (var loader in loaders)
            await loader.Load(ServiceProvider);

        await ProcessScreens();

        Events.On("RequestProcessScreens", ProcessScreens);
        
        IsLoading = false;
        await InvokeAsync(StateHasChanged);
    }

    private async Task ProcessScreens()
    {
        var screens = PluginService.GetImplementations<IAppScreen>()
            .OrderByDescending(x => x.Priority)
            .ToArray();

        CurrentScreen = null;
        foreach (var screen in screens)
        {
            if(!screen.ShouldBeShown(ServiceProvider))
                continue;

            CurrentScreen = screen;
            break;
        }

        await InvokeAsync(StateHasChanged);
    }
}
