<div id="components-reconnect-modal" class="my-reconnect-modal components-reconnect-hide">
    <div class="default">
        <button class="btn btn-light-success" style="pointer-events: none;">
            Connected
            <i class="bx bx-wifi ms-1"></i>
        </button>
    </div>
    <div class="show">
        <button class="btn btn-light-danger" style="pointer-events: none;">
            Reconnecting
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </button>
    </div>
    <div class="failed">
        <a href="javascript:location.reload()" class="btn btn-primary">
            Reconnect
        </a>
    </div>
    <div class="rejected">
        <a href="javascript:location.reload()" class="btn btn-primary">
            Reconnect
        </a>
    </div>
</div>