<div class="card card-body p-5">
    @if (string.IsNullOrEmpty(Icon))
    {
        <div class="fw-semibold text-primary fs-2">
            @Value
        </div>
        <div class="fs-4 mt-2">
            @Description
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-auto text-center d-flex align-items-center px-5">
                <i class="bx bx-lg text-white align-middle @(Icon)"></i>
            </div>
            <div class="col">
                <div class="fw-semibold text-primary fs-2">
                    @Value
                </div>
                <div class="fs-4 mt-2 text-white">
                    @Description
                </div>
            </div>
        </div>
    }
</div>

@code
{
    [Parameter] public string Icon { get; set; } = "";

    [Parameter] public string Value { get; set; } = "";

    [Parameter] public string Description { get; set; } = "";
}