<div class="card card-body border-@(Color) fs-5 mt-5">
    @ChildContent
</div>

@code
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter] public string Color { get; set; } = "primary";
}
