@page "/admin/community/filter"

@using Moonlight.App.Extensions.Attributes
@using Moonlight.App.Models.Enums
@using BlazorTable
@using Moonlight.App.Database.Entities.Community
@using Moonlight.App.Models.Forms.Admin.Community
@using Moonlight.App.Repositories

@attribute [RequirePermission(Permission.AdminCommunity)]

<AdminCommunityNavigation Index="1" />

<div class="card card-body border-primary fs-5 mt-5">
    To protect from trollers and toxic people you can configure words using 
    regex expressions to block automatically to ensure no one can write bad things in the community tab.
</div>

<div class="mt-5">
    <AutoCrud TItem="WordFilter"
              TCreateForm="AddWordFilter"
              TUpdateForm="EditWordFilter"
              Title="Manage word filter"
              Load="LoadData">
        <Column TableItem="WordFilter" Field="@(x => x.Id)" Title="Id" Sortable="false" Filterable="true" />
        <Column TableItem="WordFilter" Field="@(x => x.Filter)" Title="Filter" Sortable="false" Filterable="true" />
    </AutoCrud>
</div>

@code
{
    private WordFilter[] LoadData(Repository<WordFilter> repository)
    {
        return repository
            .Get()
            .ToArray();
    }
}