@using MoonCore.Helpers
@using Moonlight.Shared.Http.Responses.Auth

@inject NavigationManager Navigation
@inject HttpApiClient HttpApiClient

<div class="flex justify-center">
    <WButton OnClick="StartAuth" CssClasses="btn btn-primary">Authenticate</WButton>
</div>

@code
{
    private async Task StartAuth(WButton _)
    {
        var authStartData = await HttpApiClient.GetJson<OAuth2StartResponse>("api/auth/start");

        var uri = authStartData.Endpoint
                  + $"?client_id={authStartData.ClientId}" +
                  $"&redirect_uri={authStartData.RedirectUri}" +
                  $"&response_type=code";
        
        Navigation.NavigateTo(uri, true);
    }
}
