@page "/login"
@page "/register"

@using Moonlight.Client.App.Services
@using Moonlight.Shared.Http.Requests.Auth
@using Moonlight.Shared.Http.Resources.Auth

@inject IdentityService IdentityService
@inject HttpApiClient HttpApiClient
@inject CookieService CookieService
@inject EventService Events
@inject NavigationManager Navigation

@implements IDisposable

@{
    var uri = new Uri(Navigation.Uri);
    var showLogin = uri.LocalPath != "/register";
}

<div class="flex justify-center items-center md:h-screen">
    <div class="w-full flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        @if (showLogin)
        {
            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                <img class="mx-auto h-10 w-auto" src="https://gamecp.masuowo.xyz/api/core/asset/Core/svg/logo.svg" alt="Moonlight logo">
                <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white">Sign in to your account</h2>
            </div>

            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                <SmartForm Model="LoginRequest" OnSubmit="Login">
                    <div class="space-y-6">
                        <div>
                            <label class="block text-sm font-medium leading-6 text-white">Email address</label>
                            <div class="mt-2">
                                <input @bind="LoginRequest.Identifier" type="email" autocomplete="email" class="block w-full rounded-md border-0 bg-slate-800 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6">
                            </div>
                        </div>

                        <div>
                            <div class="flex items-center justify-between">
                                <label class="block text-sm font-medium leading-6 text-white">Password</label>
                                <div class="text-sm">
                                    <a href="/resetpassword" class="font-semibold text-indigo-400 hover:text-indigo-300">Forgot password?</a>
                                </div>
                            </div>
                            <div class="mt-2">
                                <input @bind="LoginRequest.Password" type="password" autocomplete="off" class="block w-full rounded-md border-0 bg-slate-800 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6">
                            </div>
                        </div>

                        <div>
                            <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
                                Sign in
                            </button>
                        </div>
                    </div>
                </SmartForm>

                <p class="mt-10 text-center text-sm text-gray-400">
                    Not registered yet?
                    <a href="/register" class="font-semibold leading-6 text-indigo-400 hover:text-indigo-300">Sign up now</a>
                </p>
            </div>
        }
        else
        {
            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                <img class="mx-auto h-10 w-auto" src="https://gamecp.masuowo.xyz/api/core/asset/Core/svg/logo.svg" alt="Moonlight logo">
                <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white">Create your account</h2>
            </div>

            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                <SmartForm Model="RegisterRequest" OnSubmit="Register">
                    <div class="space-y-6">
                        <div>
                            <label class="block text-sm font-medium leading-6 text-white">Email address</label>
                            <div class="mt-2">
                                <input @bind="RegisterRequest.Email" type="email" autocomplete="email" class="block w-full rounded-md border-0 bg-slate-800 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6">
                            </div>
                        </div>

                        <div>
                            <label class="block text-sm font-medium leading-6 text-white">Username</label>
                            <div class="mt-2">
                                <input @bind="RegisterRequest.Username" type="text" autocomplete="username" class="block w-full rounded-md border-0 bg-slate-800 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6">
                            </div>
                        </div>

                        <div>
                            <div class="flex items-center justify-between">
                                <label class="block text-sm font-medium leading-6 text-white">Password</label>
                                <div class="text-sm">
                                    <a href="/resetpassword" class="font-semibold text-indigo-400 hover:text-indigo-300">Forgot password?</a>
                                </div>
                            </div>
                            <div class="mt-2">
                                <input @bind="RegisterRequest.Password" type="password" autocomplete="off" class="block w-full rounded-md border-0 bg-slate-800 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6">
                            </div>
                        </div>

                        <div>
                            <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
                                Sign up
                            </button>
                        </div>
                    </div>
                </SmartForm>

                <p class="mt-10 text-center text-sm text-gray-400">
                    Already registered?
                    <a href="/login" class="font-semibold leading-6 text-indigo-400 hover:text-indigo-300">Login now</a>
                </p>
            </div>
        }
    </div>
</div>

@code
{
    private LoginRequest LoginRequest = new();
    private RegisterRequest RegisterRequest = new();

    protected override void OnInitialized()
    {
        Navigation.LocationChanged += OnNavigated;
    }

    private async void OnNavigated(object? sender, LocationChangedEventArgs e)
        => await InvokeAsync(StateHasChanged);

    private async Task Login()
    {
        var response = await HttpApiClient.PostJson<LoginResponse>("auth/login", LoginRequest);

        IdentityService.SetToken(response.Token);
        IdentityService.SetLoginState(true);

        await CookieService.SetValue("ml-token", response.Token, 10);

        await Events.Invoke("RequestLayoutRefresh");

        var uri = new Uri(Navigation.Uri);

        if (uri.LocalPath == "/login")
            Navigation.NavigateTo("/");
    }

    private async Task Register()
    {
        var response = await HttpApiClient.PostJson<RegisterResponse>("auth/register", RegisterRequest);

        IdentityService.SetToken(response.Token);
        IdentityService.SetLoginState(true);

        await CookieService.SetValue("ml-token", response.Token, 10);

        await Events.Invoke("RequestLayoutRefresh");

        Navigation.NavigateTo("/");
    }

    public void Dispose()
    {
        Navigation.LocationChanged -= OnNavigated;
    }
}