@page "/register"

@using MoonCore.Extensions
@using Moonlight.Client.App.Services
@using Moonlight.Shared.Http.Requests.Auth
@using Moonlight.Shared.Http.Resources.Auth

@inject IdentityService IdentityService
@inject CookieService CookieService
@inject EventService Events
@inject NavigationManager Navigation

<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="w-full  rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0 bg-slate-800 border-slate-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1 class="text-xl font-semibold leading-tight tracking-tight text-center md:text-2xl text-white">
                Create an account
            </h1>
            <SmartForm Model="Request" OnSubmit="Register">
                <div class="space-y-4 md:space-y-6">
                    <div>
                        <label class="block mb-2 text-sm font-medium text-white">Email address</label>
                        <input @bind="Request.Email" type="email" class="border rounded-lg block w-full p-2.5 bg-slate-700 border-slate-600 placeholder-slate-400 text-white" placeholder="moonlight@example.com">
                    </div>
                    <div>
                        <label class="block mb-2 text-sm font-medium text-white">Username</label>
                        <input @bind="Request.Username" type="text" class="border rounded-lg block w-full p-2.5 bg-slate-700 border-slate-600 placeholder-slate-400 text-white" placeholder="mycoolusername">
                    </div>
                    <div>
                        <label class="block mb-2 text-sm font-medium text-white">Password</label>
                        <input @bind="Request.Password" type="password" placeholder="••••••••" class="border rounded-lg block w-full p-2.5 bg-slate-700 border-slate-600 placeholder-slate-400 text-white">
                    </div>
                    <button type="submit" class="w-full focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700">Sign in</button>
                    <p class="text-sm font-light text-slate-400">
                        Already have an account? <a href="/" class="font-medium hover:underline text-blue-500">Sign in</a>
                    </p>
                </div>
            </SmartForm>
        </div>
    </div>
</div>

@code
{
    private RegisterRequest Request = new();

    private async Task Register()
    {
        var response = await IdentityService.Http.PostAsJsonReceiveJson<RegisterResponse>("auth/register", Request);
        
        IdentityService.SetToken(response.Token);
        IdentityService.SetLoginState(true);

        await CookieService.SetValue("ml-token", response.Token, 10);

        await Events.Invoke("RequestProcessScreens");
        
        Navigation.NavigateTo("/");
    }
}