@page "/community/projects"

@using Microsoft.EntityFrameworkCore
@using MoonCore.Abstractions

@using Moonlight.Features.Community.Entities
@using Moonlight.Features.Community.Entities.Enums
@using Moonlight.Features.Community.UI.Components

@inject Repository<Post> PostRepository

<div class="row">
    <div class="col-md-2 col-12 mb-5">
        <CommunityNavigation Index="2"/>

        <div class="card card-body mt-5">
            <button @onclick="() => CreateModal.Show()" class="btn btn-success">Create new post</button>
        </div>
    </div>
    <div class="col-md-10 col-12">
        <div class="card border-primary mb-5">
            <div class="card-body fs-5">
                You have a interesting project or a fun game server you want to share with the community?
                You can share it here. Please keep in mind to follow basic rules and dont offend anyone.
                Be nice and respectful
            </div>
        </div>

        <LazyLoader @ref="LazyLoader" Load="Load">
            @foreach (var post in Posts)
            {
                <PostView Post="post" OnUpdate="() => LazyLoader.Reload()"/>
                <div class="mb-10"></div>
            }
        </LazyLoader>
    </div>
</div>

<CreatePostModal @ref="CreateModal" OnUpdate="() => LazyLoader.Reload()" PostType="PostType.Project"/>

@code
{
    private LazyLoader LazyLoader;
    private CreatePostModal CreateModal;
    private Post[] Posts;

    private Task Load(LazyLoader _)
    {
        Posts = PostRepository
            .Get()
            .Include(x => x.Author)
            .Where(x => x.Type == PostType.Project)
            .OrderByDescending(x => x.CreatedAt)
            .ToArray();

        return Task.CompletedTask;
    }
}