<div class="alert alert-primary d-flex rounded p-6">
    <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
        <div class="mb-3 mb-md-0 fw-semibold">
            <h4 class="text-gray-900 fw-bold"><TL>Addons</TL></h4>
            <div class="fs-6 text-gray-700 pe-7">
                <TL>This feature is currently not available</TL>
            </div>
        </div>
    </div>
</div>