@theme {
    /* Color Variables */

    --color-primary: oklch(.511 .262 276.966);
    --color-secondary: rgb(31, 41, 55);
    --color-tertiary: oklch(.627 .265 303.9);
    --color-warning: oklch(.828 .189 84.429);
    --color-danger: oklch(.586 .253 17.585);
    --color-success: oklch(.627 .194 149.214);
    --color-info: oklch(.546 .245 262.881);

    /* Gray */

    --color-gray-50: #e8eefc;
    --color-gray-100: rgb(249 249 249);
    --color-gray-200: rgb(241 241 242);
    --color-gray-300: rgb(219 223 233);
    --color-gray-400: rgb(181 181 195);
    --color-gray-500: rgb(153 161 183);
    --color-gray-600: rgb(112 121 147);
    --color-gray-700: rgb(68 78 107);
    --color-gray-750: rgb(41 50 73);
    --color-gray-800: rgb(28 36 56);
    --color-gray-900: rgb(17 23 33);
    --color-gray-950: rgb(14 18 28);

/*
    --color-gray-50: #e8eefc;
    --color-gray-100: #ccd6ee;
    --color-gray-200: #bec9e1;
    --color-gray-300: #a3b2d5;
    --color-gray-400: #7d91bb;
    --color-gray-500: #5f719d;
    --color-gray-600: #1a2640;
    --color-gray-700: #101a2e;
    --color-gray-750: #0f1729;
    --color-gray-800: #0c1221;
    --color-gray-900: #050a16;
    --color-gray-950: #03060e;
    */
    /* Full Colors */

    --color-white: rgb(255 255 255);
    --color-black: rgb(0 0 0);
    --color-diffcolor: rgb(var(--color-white));
}