@using MoonCore.Abstractions
@using Moonlight.Features.Servers.Entities

@inject Repository<Server> ServerRepository

<a href="/admin/servers">
    <StatCard Value="@ServerCount.ToString()" Description="Servers" Icon="bxs-server"></StatCard>
</a>

@code {
    
    private int ServerCount;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            ServerCount = ServerRepository.Get().Count();
    }

}