@using MoonCore.Abstractions
@using Moonlight.Features.Servers.Entities

@inject Repository<Server> ServerRepository

<a class="mt-4 card" href="/admin/users">
    <div class="card-body">
        <div class="row align-items-center gx-0">
            <div class="col">
                <h6 class="text-uppercase text-muted mb-2">
                    Servers
                </h6>
                <span class="h2 mb-0">
                    @ServerCount
                </span>
            </div>
            <div class="col-auto">
                <span class="h2 text-muted mb-0">
                    <i class="text-primary bx bx-server bx-lg"></i>
                </span>
            </div>
        </div>
    </div>
</a>

@code {
    
    private int ServerCount;

    protected override async Task OnInitializedAsync()
    {
        ServerCount = ServerRepository.Get().Count();
    }

}