<div class="card mb-5 mb-xl-10">
    <div class="card-body pt-0 pb-0">
        <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
            <li class="nav-item mt-2">
                <a class="nav-link text-active-primary ms-0 me-10 py-5 @(Index == 0 ? "active" : "")" href="/admin/domains">
                    <TL>Domains</TL>
                </a>
            </li>
            <li class="nav-item mt-2">
                <a class="nav-link text-active-primary ms-0 me-10 py-5 @(Index == 1 ? "active" : "")" href="/admin/domains/shared">
                    <TL>Shared domains</TL>
                </a>
            </li>
        </ul>
    </div>
</div>

@code
{
    [Parameter]
    public int Index { get; set; } = 0;
}