<div class="card">
    <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bold text-gray-900">Post channels</span>
        </h3>
    </div>
    <div class="card-body pt-5">
        <div class="d-flex flex-stack">
            <div class="symbol symbol-40px me-5">
                <i class="bx bx-sm bx-envelope text-gray-500"></i>
            </div>
            <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                <a href="/community" class="text-gray-800 fs-5 fw-bold text-active-primary @(Index == 0 ? "active" : "")">Announcements</a>
            </div>
        </div>
        <div class="separator separator-dashed my-4"></div>
        <div class="d-flex flex-stack">
            <div class="symbol symbol-40px me-5">
                <i class="bx bx-sm bx-calendar-event text-gray-500"></i>
            </div>
            <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                <a href="/community/events" class="text-gray-800 fs-5 fw-bold text-active-primary @(Index == 1 ? "active" : "")">Events</a>
            </div>
        </div>
        <div class="separator separator-dashed my-4"></div>
        <div class="d-flex flex-stack">
            <div class="symbol symbol-40px me-5">
                <i class="bx bx-sm bxs-inbox text-gray-500"></i>
            </div>
            <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                <a href="/community/projects" class="text-gray-800 fs-5 fw-bold text-active-primary @(Index == 2 ? "active" : "")">Projects</a>
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public int Index { get; set; }
}