@page "/webspaces/create"
@using Moonlight.App.Services
@using Moonlight.App.Database.Entities
@using Moonlight.App.Models.Forms
@using Moonlight.App.Repositories
@using Microsoft.EntityFrameworkCore
@using Moonlight.App.Services.Sessions

@inject SubscriptionService SubscriptionService
@inject WebSpaceService WebSpaceService
@inject Repository<WebSpace> WebSpaceRepository
@inject SmartDeployService SmartDeployService
@inject SmartTranslateService SmartTranslateService
@inject NavigationManager NavigationManager
@inject IdentityService IdentityService

<LazyLoader Load="Load">
    @if (CloudPanel == null)
    {
        <div class="d-flex justify-content-center flex-center">
            <div class="card">
                <img src="/assets/media/svg/nodata.svg" class="card-img-top w-25 mx-auto pt-5" alt="Not found image"/>
                <div class="card-body text-center">
                    <h4 class="card-title">
                        <TL>No web host found</TL>
                    </h4>
                    <p class="card-text">
                        <TL>No web host found to deploy to</TL>
                    </p>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="d-flex flex-column flex-lg-row">
            <div class="w-100 flex-lg-row-auto w-lg-300px mb-7 me-7 me-lg-10">
                <div class="card card-flush py-4">
                    <div class="card-header">
                        <div class="card-title">
                            <h2>
                                <TL>Webspace details</TL>
                            </h2>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="d-flex flex-column gap-10">
                            <div class="fv-row">
                                <label class="form-label">
                                    <TL>Web system</TL>
                                </label>
                                <div class="fw-bold fs-3">@(CloudPanel.Name)</div>
                            </div>
                            <div class="fv-row">
                                <label class="form-label">
                                    <TL>Host</TL>
                                </label>
                                <div class="fw-bold fs-3">@(CloudPanel.Host)</div>
                            </div>
                            @if (AllowOrder)
                            {
                                <div class="fv-row">
                                    <label class="form-label">
                                        <TL>Domain</TL>
                                    </label>
                                    <div class="fw-bold fs-3">@(Model.BaseDomain)</div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-lg-row-fluid gap-7 gap-lg-10">
                <div class="card card-flush py-4">
                    <div class="card-header">
                        <div class="card-title">
                            <h2>
                                <TL>Configure your webspaces</TL>
                            </h2>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <SmartForm Model="Model" OnValidSubmit="OnValidSubmit">
                            @if (AllowOrder)
                            {
                                <label class="form-label">
                                    <TL>Domain</TL>
                                </label>
                                <div class="input-group mb-5">
                                    <InputText @bind-Value="Model.BaseDomain" class="form-control"></InputText>
                                </div>

                                <button type="submit" class="mt-5 float-end btn btn-primary">
                                    <TL>Create</TL>
                                </button>
                            }
                            else
                            {
                                <div class="alert alert-warning d-flex align-items-center p-5 mb-10">
                                    <span>
                                        <TL>You reached the maximum amount of webspaces in your subscription</TL>: @(Subscription == null ? SmartTranslateService.Translate("Default") : Subscription.Name)
                                    </span>
                                </div>
                            }
                        </SmartForm>
                    </div>
                </div>
            </div>
        </div>
    }
</LazyLoader>

@code
{
    

    private Subscription? Subscription;
    private CloudPanel? CloudPanel;
    private bool AllowOrder = false;

    private WebsiteOrderDataModel Model = new();

    private async Task Load(LazyLoader lazyLoader)
    {
    // Reset state
        Model = new();

        await lazyLoader.SetText(SmartTranslateService.Translate("Loading your subscription"));
        Subscription = await SubscriptionService.GetActiveSubscription(IdentityService.User);

        await lazyLoader.SetText(SmartTranslateService.Translate("Searching for deploy web host"));
        CloudPanel = await SmartDeployService.GetCloudPanel();

        AllowOrder = WebSpaceRepository
            .Get()
            .Include(x => x.Owner)
            .Count(x => x.Owner.Id == IdentityService.User.Id) < (await SubscriptionService.GetLimit(IdentityService.User, "websites")).Amount;
    }

    private async Task OnValidSubmit()
    {
        if (WebSpaceRepository
            .Get()
            .Include(x => x.Owner)
            .Count(x => x.Owner.Id == IdentityService.User.Id) < (await SubscriptionService.GetLimit(IdentityService.User, "websites")).Amount)
        {
            var webSpace = await WebSpaceService.Create(Model.BaseDomain, IdentityService.User, CloudPanel);

            NavigationManager.NavigateTo($"/webspace/{webSpace.Id}");
        }
    }
}