@plugin "flyonui/theme" {
    name: "moonlight";
    prefersdark: true;
    color-scheme: "dark";

    --color-base-100: #192032;
    --color-base-200: #101522;
    --color-base-300: #070a14;

    --color-base-content: #dde5f5;
    --color-primary: oklch(.511 .262 276.966);
    --color-primary-content: #dde5f5;
    --color-secondary: oklch(37% 0.034 259.733);
    --color-secondary-content: #dde5f5;
    --color-accent: oklch(49.1% 0.27 292.581);
    --color-accent-content: #dde5f5;
    --color-neutral: oklch(27% 0.041 260.031);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(.546 .245 262.881);
    --color-info-content: #dde5f5;
    --color-success: oklch(.627 .194 149.214);
    --color-success-content: #dde5f5;
    --color-warning: oklch(.828 .189 84.429);
    --color-warning-content: #dde5f5;
    --color-error: oklch(.586 .253 17.585);
    --color-error-content: #dde5f5;
    --radius-selector: 0.25rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}