.table-row-hover-content {
    visibility: hidden;
}
tr:hover .table-row-hover-content {
    visibility: visible;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.blur-unless-hover {
    filter: blur(5px);
}

.blur-unless-hover:hover {
    filter: none;
}

.blur {
    filter: blur(5px);
}