@page "/"
@using Moonlight.Core.Interfaces.UI.Index
@using Moonlight.Core.Models.Abstractions
@using Moonlight.Core.Services

@inject PluginService PluginService

<LazyLoader Load="Load">
    @foreach (var component in Components.OrderBy(x => x.Index))
    {
        <div class="mb-4">
            @component.Component
        </div>
    }
</LazyLoader>
    
@code
{
    private List<UiComponent> Components = new();


    private async Task Load(LazyLoader arg)
    {
        await arg.SetText("Loading...");

        var implementations = await PluginService.GetImplementations<IIndexPageComponent>();

        foreach (var implementation in implementations)
        {
            Components.Add(await implementation.Get());
        }
    }
}