@page "/testy"

<div class="card card-body mb-8">
    <div class="d-flex justify-content-between align-items-center">
        <a href="#" class="text-body fs-4">
            <i class="bx bx-md bx-chevron-left align-middle"></i>
            <span class="align-middle">Back</span>
        </a>
        
        <button class="btn btn-primary">Create</button>
    </div>
</div>

<div class="card mb-6">
    <div class="card-body">
        <div class="row g-8">
            <div class="col-12 col-md-6">
                <label class="form-label">Default input</label>
                <input type="text" class="form-control" placeholder="name@example.com"/>
                <div class="form-text fs-6 text-gray-600">
                    dasdfuoiusefiousidfhzuigfzduzfgiudzfogzidufzgduifzguisdzugzduifhgjkdsgkdfh
                </div>
            </div>

            <div class="col-12 col-md-3">
                <label class="form-label">Default input</label>
                <input type="number" class="form-control" value="10324"/>
                <div class="form-text fs-6 text-gray-600">
                    dasdfuoiusefiousidfhzuigfzduzfgiudzfogzidufzgduifzguisdzugzduifhgjkdsgkdfh
                </div>
            </div>

            <div class="col-12 col-md-12">
                <label class="form-label">Default input</label>
                <textarea class="form-control"></textarea>
                <div class="form-text fs-6 text-gray-600">
                    dasdfuoiusefiousidfhzuigfzduzfgiudzfogzidufzgduifzguisdzugzduifhgjkdsgkdfh
                </div>
            </div>

            <div class="col-12 col-md-3">
                <label class="form-label">Default input</label>
                <div class="btn-group w-100">
                    <label class="btn btn-outline btn-color-muted btn-active-primary">
                        <input class="btn-check" type="radio" name="method" value="1" />
                        <i class="bx bx-sm bx-lock-open-alt"></i>
                        HTTP
                    </label>

                    <label class="btn btn-outline btn-color-muted btn-active-primary">
                        <input class="btn-check" type="radio" name="method" value="1" />
                        <i class="bx bx-sm bx-lock-alt"></i>
                        HTTPS
                    </label>
                </div>
                <div class="form-text fs-6 text-gray-600">
                    dasdfuoiusefiousidfhzuigfzduzfgiudzfogzidufzgduifzguisdzugzduifhgjkdsgkdfh
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="card-title">
            <i class="bx bx-md bx-server text-primary me-3 align-middle"></i>
            <span class="h3 align-middle">Some Section</span>
        </div>
    </div>
    <div class="card-body">
        <div class="row g-8">
            <div class="col-12 col-md-6">
                <label class="form-label">Default input</label>
                <input type="text" class="form-control" placeholder="name@example.com"/>
                <div class="form-text fs-6 text-gray-600">
                    dasdfuoiusefiousidfhzuigfzduzfgiudzfogzidufzgduifzguisdzugzduifhgjkdsgkdfh
                </div>
            </div>

            <div class="col-12 col-md-3">
                <label class="form-label">Default input</label>
                <input type="number" class="form-control" value="10324"/>
                <div class="form-text fs-6 text-gray-600">
                    dasdfuoiusefiousidfhzuigfzduzfgiudzfogzidufzgduifzguisdzugzduifhgjkdsgkdfh
                </div>
            </div>

            <div class="col-12 col-md-3">
                <label class="form-label">Default input</label>
                <div class="btn-group w-100">
                    <label class="btn btn-outline btn-color-muted btn-active-primary">
                        <input class="btn-check" type="radio" name="method" value="1"/>
                        <i class="bx bx-sm bx-lock-open-alt"></i>
                        HTTP
                    </label>

                    <label class="btn btn-outline btn-color-muted btn-active-primary">
                        <input class="btn-check" type="radio" name="method" value="1"/>
                        <i class="bx bx-sm bx-lock-alt"></i>
                        HTTPS
                    </label>
                </div>
                <div class="form-text fs-6 text-gray-600">
                    dasdfuoiusefiousidfhzuigfzduzfgiudzfogzidufzgduifzguisdzugzduifhgjkdsgkdfh
                </div>
            </div>
        </div>
    </div>
</div>