@page "/account/api"

@using Moonlight.Core.Services
@using Moonlight.Core.UI.Components.Navigations

@inject IdentityService IdentityService

<div class="card card-body bg-primary mb-8">
    <div class="d-flex align-items-center">
        <span class="fs-2 fw-semibold">
            @* the @@@ looks weird, ik that, it will result in @username *@

            @@@IdentityService.GetUser().Username
        </span>
    </div>
</div>

<AccountNavigation Index="2" />

<NotImplementedAlert />

@code
{
    
}