@page "/account"

@using Moonlight.Core.Services
@using Moonlight.Core.Models.Forms
@using Mappy.Net
@using MoonCoreUI.Services
@using Moonlight.Core.Interfaces.UI.Account
@using Moonlight.Core.Models.Abstractions
@using Moonlight.Core.UI.Components.Navigations

@inject PluginService PluginService
@inject IdentityService IdentityService

<div class="card card-body bg-primary mb-8">
    <div class="d-flex align-items-center">
        <span class="fs-2 fw-semibold">
            @* the @@@ looks weird, ik that, it will result in @username *@

            @@@IdentityService.CurrentUser.Username
        </span>
    </div>
</div>

<AccountNavigation Index="0"/>

<LazyLoader Load="Load" ShowAsCard="true">
    <div class="card">
        <div class="card-body">
            @foreach (var component in Components.OrderBy(x => x.Index))
            {
                if (component.RequiredPermissionLevel <= IdentityService.CurrentUser.Permissions)
                {
                    <div class="mb-4">
                        @component.Component
                    </div>
                }
            }
        </div>
    </div>
</LazyLoader>

@code
{
    
    private List<UiComponent> Components = new();


    private async Task Load(LazyLoader arg)
    {
        await arg.SetText("Loading...");

        var implementations = await PluginService.GetImplementations<IAccountOverviewComponent>();

        foreach (var implementation in implementations)
        {
            Components.Add(await implementation.Get());
        }
    }
}