<div class="row">
    <ul class="nav nav-tabs nav-line-tabs nav-line-tabs-2x mb-5 fs-6 border-bottom-0">
        <li class="nav-item">
            <a class="nav-link text-white @(Index == 0 ? "active" : "")" href="/account">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white @(Index == 1 ? "active" : "")" href="/account/security">Security</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white @(Index == 2 ? "active" : "")" href="/account/api">API Keys</a>
        </li>
    </ul>
</div>

@code
{
    [Parameter] public int Index { get; set; } = 0;
}