<div class="w-100">
    <div class="card-body">
        <div class="text-start mb-8">
            <h1 class="text-dark mb-3 fs-3x">
                AdBlocker detected
            </h1>
            <div class="text-gray-400 fw-semibold fs-6">
                We have detected that you are using an adblocker. Disable your adblocker or add this site as an exception and reload the page to proceed
            </div>
        </div>

        <div class="d-flex flex-stack">
            <a href="javascript:location.reload()" class="btn btn-primary me-2 flex-shrink-0">I have disabled my adblocker</a>
        </div>
    </div>
</div>