@using Moonlight.App.Services

@inject ConfigService ConfigService

@{
    var moonlightConfig = ConfigService
        .GetSection("Moonlight");
}

<div class="card card-flush w-lg-650px py-5">
    <div class="card-body py-15 py-lg-20">
        <div class="mb-14">
            <img alt="Logo" src="@(moonlightConfig.GetValue<string>("AppUrl"))/api/moonlight/resources/images/logofull.png" class="h-40px">
        </div>
        <h1 class="fw-bolder text-gray-900 mb-5"><TL>Your account is banned from moonlight</TL></h1>
        <div class="fw-semibold fs-6 text-gray-500 mb-8">
            <TL>Your account is banned from using moonlight. Your data will be deleted shortly</TL>
        </div>
    </div>
</div>