<div class="d-flex flex-column flex-center text-center p-10">
    <div class="card card-flush w-lg-650px py-5">
        <div class="card-body py-15 py-lg-20">
            <div class="mb-5">
                <img src="/svg/expired.svg" style="width: 10vh" alt="Expired illustration">
            </div>
            <h1 class="fw-bolder fs-2hx text-gray-900 mb-4">
                This service has expired
            </h1>
            <div class="fw-semibold fs-6 text-gray-500 mb-7">
                <span class="fs-5">This service has expired and has to be renewed in order to manage it</span>
            </div>
            <a href="/services" class="btn btn-primary">Go back to services</a>
        </div>
    </div>
</div>