<div class="mx-auto">
    <div class="card">
        <div class="d-flex justify-content-center pt-5">
            <img height="300" width="300" src="/assets/media/svg/warning.svg" alt="Warning"/>
        </div>
        <span class="card-title text-center fs-3">
            <TL>You have no permission to access this resource</TL>
        </span>
        <p class="card-body text-center fs-4 text-gray-800">
            <TL>You have no permission to access this resource. This attempt has been logged ;)</TL>
        </p>
    </div>
</div>