<div class="d-flex flex-column flex-center text-center p-10">
    <div class="card card-flush w-lg-650px py-5">
        <div class="card-body py-15 py-lg-20">
            <div class="mb-5">
                <img src="/svg/nodata.svg" style="width: 10vh" alt="Not found illustration">
            </div>
            <h1 class="fw-bolder fs-2hx text-gray-900 mb-4">
                The requested resource was not found
            </h1>
            <div class="fw-semibold fs-6 text-gray-500 mb-7">
                <span class="fs-5">We were not able to find the requested resource. This can have following reasons</span>

                <div class="mt-4 d-flex flex-column align-items-start">
                    <li class="d-flex align-items-center py-2">
                        <span class="bullet me-5"></span> The resource was deleted
                    </li>
                    <li class="d-flex align-items-center py-2">
                        <span class="bullet me-5"></span> You have no permission to access this resource
                    </li>
                    <li class="d-flex align-items-center py-2">
                        <span class="bullet me-5"></span> You may have entered invalid data
                    </li>
                    <li class="d-flex align-items-center py-2">
                        <span class="bullet me-5"></span> A unknown bug occured
                    </li>
                    <li class="d-flex align-items-center py-2">
                        <span class="bullet me-5"></span> An api was offline and not proper handled
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>