<div class="mx-auto">
    <div class="card">
        <div class="d-flex justify-content-center pt-5">
            <img height="300" width="300" src="/assets/media/svg/notfound.svg" alt="Not found"/>
        </div>
        <span class="card-title text-center fs-3">
            <TL>The requested resource was not found</TL>
        </span>
        <p class="card-body text-center fs-4 text-gray-800">
            <TL>We were not able to find the requested resource. This can have following reasons</TL>

            <div class="mt-4 d-flex flex-column align-items-center">
                <li class="d-flex align-items-center py-2">
                    <span class="bullet me-5"></span> <TL>The resource was deleted</TL>
                </li>
                <li class="d-flex align-items-center py-2">
                    <span class="bullet me-5"></span> <TL>You have to permission to access this resource</TL>
                </li>
                <li class="d-flex align-items-center py-2">
                    <span class="bullet me-5"></span> <TL>You may have entered invalid data</TL>
                </li>
                <li class="d-flex align-items-center py-2">
                    <span class="bullet me-5"></span> <TL>A unknown bug occured</TL>
                </li>
                <li class="d-flex align-items-center py-2">
                    <span class="bullet me-5"></span> <TL>An api was down and not proper handled</TL>
                </li>
            </div>
        </p>
    </div>
</div>