@using Moonlight.App.Services

<div class="card card-flush w-lg-650px py-5">
    <div class="card-body py-15 py-lg-20">
        <h1 class="fw-bolder text-gray-900 mb-5"><TL>Setup complete</TL></h1>
        <div class="fw-semibold fs-6 text-gray-500 mb-8">
            <TL>It looks like this moonlight instance is ready to go</TL>
        </div>
    </div>
</div>