@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    scrollbar-width: thin;
    scrollbar-color: #64748b transparent;
}

.no-scrollbar {
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
}

.progress-bar-transition {
    transition: width 0.6s ease;
}

#blazor-error-ui {
    display: none;
}