@using Moonlight.App.Database.Entities
@using Moonlight.App.Services
@using Moonlight.App.Services.Interop

@inject ServerService ServerService
@inject SmartTranslateService SmartTranslateService
@inject MalwareScanService MalwareScanService
@inject AlertService AlertService

<div class="card">
    <div class="card-header">
        <span class="card-title">
            <TL>Actions</TL>
        </span>
    </div>
    <div class="card-footer">
        <WButton Text="@(SmartTranslateService.Translate("Reinstall"))"
            WorkingText="@(SmartTranslateService.Translate("Reinstalling"))" CssClasses="btn-warning"
            OnClick="Reinstall">
        </WButton>
        <WButton Text="@(SmartTranslateService.Translate("Scan for malware"))"
            WorkingText="@(SmartTranslateService.Translate("Scanning"))" CssClasses="btn-primary ms-3"
            OnClick="Scan">
        </WButton>
    </div>
</div>

@code
{
    [CascadingParameter]
    public Server Server { get; set; }

    private async Task Reinstall()
    {
        await ServerService.Reinstall(Server!);
    }

    private async Task Scan()
    {
        var result = await MalwareScanService.Perform(Server);

        if (result == null)
            await AlertService.Success(SmartTranslateService.Translate("No malware found on this server"));
        else
            await AlertService.Warning(result.Title, result.Description);
    }
}