@import "./additions/fonts.css";
@import "./additions/theme.css" layer(theme);

/* @import "./additions/theme.white.css"; */

@import "./additions/buttons.css" layer(components);
@import "./additions/cards.css" layer(components);
@import "./additions/forms.css" layer(components);
@import "./additions/progress.css" layer(components);
@import "./additions/scrollbar.css" layer(components);
@import "./additions/loaders.css" layer(components);
@import "./additions/tabs.css" layer(components);

@source "./mappings/*.map";

#blazor-error-ui {
    display: none;
}

#blazor-loader-label:after {
    content: var(--blazor-load-percentage-text, "Loading");
}

#blazor-loader-progress {
    width: var(--blazor-load-percentage, 0%);
}