@page "/"

@using Moonlight.App.Services

@inject IdentityService IdentityService

<div class="card border-0" style="background-image: url('img/covers/minecraft.png'); background-repeat: no-repeat; background-position: bottom; background-size: cover">
    <div class="card-body">
        <span class="h2">Welcome back, <span class="text-info">@(IdentityService.CurrentUser.Username)</span></span>
    </div>
</div>

<div class="mt-5 row">
    <div class="col-md-3 col-12">
        <div href="#" class="card card-body text-center fs-6">
            <div class="mb-5">
                Do you want to order new services? Are you searching for our service specifications and prices?
            </div>
            <a href="/store" class="btn btn-primary">Go to store</a>
        </div>
    </div>
    <div class="col-md-3 col-12">
        <div href="#" class="card card-body text-center fs-6">
            <div class="mb-5">
                Do you want to order new services? Are you searching for our service specifications and prices?
            </div>
            <a href="/store" class="btn btn-primary">Go to store</a>
        </div>
    </div>
    <div class="col-md-3 col-12">
        <div href="#" class="card card-body text-center fs-6">
            <div class="mb-5">
                Do you want to order new services? Are you searching for our service specifications and prices?
            </div>
            <a href="/store" class="btn btn-primary">Go to store</a>
        </div>
    </div>
</div>