@page "/"

@using Moonlight.App.Services

@inject IdentityService IdentityService

<div class="card border-0" style="background-image: url('img/covers/minecraft.png'); background-repeat: no-repeat; background-position: bottom; background-size: cover">
    <div class="card-body">
        <span class="h2">Welcome back, <span class="text-info">@(IdentityService.CurrentUser.Username)</span></span>
    </div>
</div>

<div class="mt-5 row">
    <div class="col-md-3 col-12 mb-3">
        <a href="/store" class="card border-hover-primary border-2 h-100">
            <img class="card-img-top p-5" src="/svg/shopping.svg" alt="Shopping" style="max-height: 20vh"/>
            <div class="card-body text-center fs-5">
                <div class="mb-5">
                    Do you want to order new services? Are you searching for our service specifications and prices?
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-12 mb-3">
        <a href="/services" class="card border-hover-primary border-2 h-100">
            <img class="card-img-top p-5" src="/svg/manageServices.svg" alt="Manage services" style="max-height: 20vh"/>
            <div class="card-body text-center fs-5">
                <div class="mb-5">
                    You want to see your services? Do you want to renew them? Or just take a quick look?
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-12 mb-3">
        <a href="/community" class="card border-hover-primary border-2 h-100">
            <img class="card-img-top p-5" src="/svg/news.svg" alt="News" style="max-height: 20vh"/>
            <div class="card-body text-center fs-5">
                <div class="mb-5">
                    You want to see the latest news? Do you want to join our events? Having a project to share with the community?
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-12 mb-3">
        <a href="/account" class="card border-hover-primary border-2 h-100">
            <img class="card-img-top p-5" src="/svg/userSettings.svg" alt="User settings" style="max-height: 20vh"/>
            <div class="card-body text-center fs-5">
                <div class="mb-5">
                    Searching for you settings? Want to add balance to your account? Do you want to change your profile picture?
                </div>
            </div>
        </a>
    </div>
</div>