@page "/test"
@using Moonlight.App.Repositories
@using Moonlight.App.Database.Entities
@using Moonlight.App.Models.Forms

@inject UserRepository UserRepository

<LazyLoader Load="Load">
    <SmartForm Model="Model" OnValidSubmit="OnValidSubmit">
        <div class="mb-3">
            <SmartDropdown 
                Items="Users" 
                @bind-Value="Model.User" 
                DisplayFunc="@(x => x.Email)" 
                SearchProp="@(x => x.Email)" />
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </SmartForm>
</LazyLoader>

@code
{
    private User[] Users;
    private TestDataModel Model = new();

    private Task Load(LazyLoader arg)
    {
        Users = UserRepository.Get().ToArray();
        
        return Task.CompletedTask;
    }

    private Task OnValidSubmit()
    {
        return Task.CompletedTask;
    }
}
