@import "tailwindcss/theme.css" layer(theme) theme(static);
@import "tailwindcss/preflight.css" layer(base);

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(1.0000 0 0);
    --foreground: oklch(0.1371 0.0360 258.5258);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.1371 0.0360 258.5258);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.1371 0.0360 258.5258);
    --primary: oklch(0.5460 0.2153 262.8719);
    --primary-foreground: oklch(0.9838 0.0035 247.8583);
    --secondary: oklch(0.9684 0.0068 247.8951);
    --secondary-foreground: oklch(0.2079 0.0399 265.7275);
    --muted: oklch(0.9684 0.0068 247.8951);
    --muted-foreground: oklch(0.5547 0.0407 257.4404);
    --accent: oklch(0.9684 0.0068 247.8951);
    --accent-foreground: oklch(0.2079 0.0399 265.7275);
    --destructive: oklch(0.6368 0.2078 25.3259);
    --destructive-foreground: oklch(0.9838 0.0035 247.8583);
    --border: oklch(0.9290 0.0126 255.5317);
    --input: oklch(0.9290 0.0126 255.5317);
    --ring: oklch(0.5460 0.2153 262.8719);
    --chart-1: oklch(0.5460 0.2153 262.8719);
    --chart-2: oklch(0.7211 0.1415 253.1015);
    --chart-3: oklch(0.6325 0.1843 258.6360);
    --chart-4: oklch(0.8117 0.0970 249.0979);
    --chart-5: oklch(0.8829 0.0573 251.9139);
    --sidebar: oklch(0.9838 0.0035 247.8583);
    --sidebar-foreground: oklch(0.2079 0.0399 265.7275);
    --sidebar-primary: oklch(0.5460 0.2153 262.8719);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.9290 0.0126 255.5317);
    --sidebar-accent-foreground: oklch(0.5460 0.2153 262.8719);
    --sidebar-border: oklch(0.9290 0.0126 255.5317);
    --sidebar-ring: oklch(0.5460 0.2153 262.8719);
    --font-sans: Inter, system-ui, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.375rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 10px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: 0, 0%, 0%;
    --shadow-2xs: 0px 4px 10px 0px hsl(0, 0%, 0% / 0.05);
    --shadow-xs: 0px 4px 10px 0px hsl(0, 0%, 0% / 0.05);
    --shadow-sm: 0px 4px 10px 0px hsl(0, 0%, 0% / 0.10), 0px 1px 2px -1px hsl(0, 0%, 0% / 0.10);
    --shadow: 0px 4px 10px 0px hsl(0, 0%, 0% / 0.10), 0px 1px 2px -1px hsl(0, 0%, 0% / 0.10);
    --shadow-md: 0px 4px 10px 0px hsl(0, 0%, 0% / 0.10), 0px 2px 4px -1px hsl(0, 0%, 0% / 0.10);
    --shadow-lg: 0px 4px 10px 0px hsl(0, 0%, 0% / 0.10), 0px 4px 6px -1px hsl(0, 0%, 0% / 0.10);
    --shadow-xl: 0px 4px 10px 0px hsl(0, 0%, 0% / 0.10), 0px 8px 10px -1px hsl(0, 0%, 0% / 0.10);
    --shadow-2xl: 0px 4px 10px 0px hsl(0, 0%, 0% / 0.25);
    --tracking-normal: -0.015em;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.1371 0.0360 258.5258);
    --foreground: oklch(0.9838 0.0035 247.8583);
    --card: oklch(0.1371 0.0360 258.5258);
    --card-foreground: oklch(0.9838 0.0035 247.8583);
    --popover: oklch(0.1371 0.0360 258.5258);
    --popover-foreground: oklch(0.9838 0.0035 247.8583);
    --primary: oklch(0.6232 0.1879 259.7964);
    --primary-foreground: oklch(0.2079 0.0399 265.7275);
    --secondary: oklch(0.2800 0.0369 259.9740);
    --secondary-foreground: oklch(0.9838 0.0035 247.8583);
    --muted: oklch(0.2800 0.0369 259.9740);
    --muted-foreground: oklch(0.7107 0.0351 256.7877);
    --accent: oklch(0.2800 0.0369 259.9740);
    --accent-foreground: oklch(0.9838 0.0035 247.8583);
    --destructive: oklch(0.3959 0.1331 25.7205);
    --destructive-foreground: oklch(0.9838 0.0035 247.8583);
    --border: oklch(0.2800 0.0369 259.9740);
    --input: oklch(0.2800 0.0369 259.9740);
    --ring: oklch(0.4878 0.2170 264.3876);
    --chart-1: oklch(0.4878 0.2170 264.3876);
    --chart-2: oklch(0.5449 0.2154 262.7414);
    --chart-3: oklch(0.6776 0.1481 238.1044);
    --chart-4: oklch(0.3752 0.0394 256.8467);
    --chart-5: oklch(0.4691 0.1926 264.5776);
    --sidebar: oklch(0.1371 0.0360 258.5258);
    --sidebar-foreground: oklch(0.9838 0.0035 247.8583);
    --sidebar-primary: oklch(0.6232 0.1879 259.7964);
    --sidebar-primary-foreground: oklch(0.1371 0.0360 258.5258);
    --sidebar-accent: oklch(0.2800 0.0369 259.9740);
    --sidebar-accent-foreground: oklch(0.9838 0.0035 247.8583);
    --sidebar-border: oklch(0.2800 0.0369 259.9740);
    --sidebar-ring: oklch(0.4878 0.2170 264.3876);
    --font-sans: Inter, system-ui, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.375rem;
    --shadow-x: 0px;
    --shadow-y: 8px;
    --shadow-blur: 15px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.5;
    --shadow-color: 0, 0%, 0%;
    --shadow-2xs: 0px 8px 15px 0px hsl(0, 0%, 0% / 0.25);
    --shadow-xs: 0px 8px 15px 0px hsl(0, 0%, 0% / 0.25);
    --shadow-sm: 0px 8px 15px 0px hsl(0, 0%, 0% / 0.50), 0px 1px 2px -1px hsl(0, 0%, 0% / 0.50);
    --shadow: 0px 8px 15px 0px hsl(0, 0%, 0% / 0.50), 0px 1px 2px -1px hsl(0, 0%, 0% / 0.50);
    --shadow-md: 0px 8px 15px 0px hsl(0, 0%, 0% / 0.50), 0px 2px 4px -1px hsl(0, 0%, 0% / 0.50);
    --shadow-lg: 0px 8px 15px 0px hsl(0, 0%, 0% / 0.50), 0px 4px 6px -1px hsl(0, 0%, 0% / 0.50);
    --shadow-xl: 0px 8px 15px 0px hsl(0, 0%, 0% / 0.50), 0px 8px 10px -1px hsl(0, 0%, 0% / 0.50);
    --shadow-2xl: 0px 8px 15px 0px hsl(0, 0%, 0% / 1.25);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);

    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}