.invisible-a {
  color: inherit;
  cursor: pointer;
}

.invisible-a:hover {
  color: inherit;
  cursor: pointer;
}

.blur-unless-hover {
  filter: blur(5px);
}

.blur-unless-hover:hover {
  filter: none;
}

.blur {
  filter: blur(5px);
}

div.wave {
}
div.wave .dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 3px;
  background-color: var(--bs-body-color);
  animation: wave 1.3s linear infinite;
}
div.wave .dot:nth-child(2) {
  animation-delay: -1.1s;
}
div.wave .dot:nth-child(3) {
  animation-delay: -0.9s;
}

@keyframes wave {
  0%,
  60%,
  100% {
    transform: initial;
  }
  30% {
    transform: translateY(-8px);
  }
}

div.card-body
  div.table-responsive
  div.d-flex.justify-content-end
  ul.pagination {
  gap: 1.5rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}