@page "/"
@using Moonlight.Client.App.Services

@inject IdentityService IdentityService

<div class="grid gap-5 grid-cols-1 sm:grid-cols-2 md:grid-cols-6">
    <div class="col-span-1 sm:col-span-2">
        <div class="relative overflow-hidden rounded-lg bg-slate-800 px-4 pb-5 pt-5 shadow">
            @{
                var welcomeMessage = GetTimeBasedWelcomeMessage();
            }

            <div>
                <div class="absolute rounded-md p-3 bg-indigo-500">
                    <div class="h-6 w-6 flex justify-center items-center">
                        <span class="text-2xl text-white">
                            @welcomeMessage.Item1
                        </span>
                    </div>
                </div>
                <p class="ml-16 truncate text-sm font-medium text-slate-500">Welcome back</p>
            </div>

            <div class="ml-16 flex items-baseline">
                <p class="text-2xl">
                    @(welcomeMessage.Item2) <span class="text-indigo-500">@(IdentityService.Username)</span>@(welcomeMessage.Item3)
                </p>
            </div>
        </div>
    </div>
</div>

@code
{
    private (string, string, string) GetTimeBasedWelcomeMessage()
    {
        var hour = DateTime.Now.Hour;
        
        //TODO: Add welcome messages based on special days in the year, e.g. christmas

        if (hour >= 5 && hour < 11)
            return ("🌅", "Good morning,", "");
        else if (hour >= 11 && hour < 13)
            return ("😃", "Have a nice day,", "");
        else if (hour >= 13 && hour < 16)
            return ("🌄", "Good afternoon,", "");
        else if (hour >= 16 && hour < 22)
            return ("✨", "Have a nice evening,", "");
        else if (hour >= 22 && hour < 23)
            return ("💤", "Sleep well,", "");
        else if (hour >= 23 || hour < 5)
            return ("🌙", "Still awake,", "?");
            

        return ("👋", "Good day,", "");
    }
}