@page "/admin"
@using Moonlight.Client.App.Attributes

@attribute [RequirePermission("admin")]

<Breadcrumb Names="@(["Admin", "Overview"])" />
<ViewTitle Text="Overview" />

<div class="mt-10">
    <NotImplementedAlert />
</div>