@page "/admin"
@using MoonCore.Abstractions
@using Moonlight.Core.Database.Entities
@using Moonlight.Core.Services
@using Moonlight.Features.Servers.Entities

@inject Repository<Server> ServerRepository

@inject FeatureService FeatureService
@inject IdentityService IdentityService

@attribute [RequirePermission(999)]

<LazyLoader Load="Load">
    <div class="row mb-4">
        @foreach (var adminCard in FeatureService.UiContext.AdminPageCards.OrderBy(x => x.Index).ToArray())
        {
            if (IdentityService.CurrentUser.Permissions >= adminCard.RequiredPermissionLevel)
            {
                <div class="col-12 col-lg-6 col-xl">
                    @adminCard.Component
                </div>
            }
        }
    </div>

    @foreach (var adminComponent in FeatureService.UiContext.AdminPageComponents.OrderBy(x => x.Index).ToArray())
    {
        if (IdentityService.CurrentUser.Permissions >= adminComponent.RequiredPermissionLevel)
        {
            <div class="mb-4">
                @adminComponent
            </div>
        }
    }
</LazyLoader>


@code {
    
    private async Task Load(LazyLoader arg)
    {
        await arg.SetText("Loading Information...");
        
    }
}