@page "/admin"
@using Moonlight.Core.Interfaces.Ui.Admin
@using Moonlight.Core.Models.Abstractions
@using Moonlight.Core.Services

@inject PluginService PluginService
@inject IdentityService IdentityService

@attribute [RequirePermission(999)]

<LazyLoader Load="Load">
    <div class="row mb-8 gap-4">
        @foreach (var column in Columns.OrderBy(x => x.Index))
        {
            if (column.RequiredPermissionLevel <= IdentityService.GetUser().Permissions)
            {
                <div class="col-12 col-lg-6 col-xl">
                    @column.Component
                </div>
            }
        }
    </div>
    @foreach (var component in Components.OrderBy(x => x.Index))
    {
        if (component.RequiredPermissionLevel <= IdentityService.GetUser().Permissions)
        {
            <div class="mb-4">
                @component.Component
            </div>
        }
    }
</LazyLoader>


@code {

    private List<UiComponent> Columns = new();
    private List<UiComponent> Components = new();
    
    private async Task Load(LazyLoader arg)
    {
        await arg.SetText("Loading statistics...");

        var componentImplementations = await PluginService.GetImplementations<IAdminDashboardComponent>();

        foreach (var implementation in componentImplementations)
        {   
            Components.Add(await implementation.Get());
        }
        
        var columnImplementations = await PluginService.GetImplementations<IAdminDashboardColumn>();

        foreach (var implementation in columnImplementations)
        {   
            Columns.Add(await implementation.Get());
        }

    }
}