@page "/admin"
@using MoonCore.Abstractions
@using Moonlight.Core.Database.Entities
@using Moonlight.Core.Interfaces
@using Moonlight.Core.Services
@using Moonlight.Features.Servers.Entities

@inject PluginService PluginService

@attribute [RequirePermission(999)]

<LazyLoader Load="Load">
    <div class="row mb-8">
        @foreach(var column in Columns)
        {
            <div class="col-12 col-lg-6 col-xl">
                @column
            </div>
        }
    </div>
    @foreach (var component in Components)
    {
        <div class="mb-4">
            @component
        </div>
    }
</LazyLoader>


@code {

    private List<RenderFragment> Columns = new();
    private List<RenderFragment> Components = new();
    
    private async Task Load(LazyLoader arg)
    {
        await arg.SetText("Loading Information...");

        var componentImplementations = await PluginService.GetImplementations<IAdminDashboardComponent>();

        foreach (var implementation in componentImplementations)
        {   
            Components.Add(await implementation.Get());
        }
        
        var columnImplementations = await PluginService.GetImplementations<IAdminDashboardColumn>();

        foreach (var implementation in columnImplementations)
        {   
            Columns.Add(await implementation.Get());
        }

    }
}