@page "/admin"
@using MoonCore.Abstractions
@using Moonlight.Core.Database.Entities
@using Moonlight.Features.Servers.Entities

@inject Repository<Server> ServerRepository
@inject Repository<User> UserRepository

@attribute [RequirePermission(999)]

<Name>Admin</Name>

<LazyLoader Load="Load">
    <div class="row g-4">
        <div class="col-12 col-lg-6 col-xl">
            <a href="/admin/servers">
                <StatCard Value="@UserCount.ToString()" Description="Users" Icon="bxs-group">
                </StatCard>
            </a>
        </div>
        <div class="col-12 col-lg-6 col-xl">
            <a href="/admin/servers">
                <StatCard Value="@ServerCount.ToString()" Description="Servers"  Icon="bxs-server">
                </StatCard>
            </a>
        </div>  
    </div>
</LazyLoader>

@* This is just the start of this admin page, there will still be added more during the developement process *@

@code {
    private int ServerCount;
    private int UserCount;

    private async Task Load(LazyLoader arg)
    {
        await Task.Run(() =>
        {
            arg.SetText("Loading Information...");
            ServerCount = ServerRepository.Get().Count();
            UserCount = UserRepository.Get().Count();
        });
    }
}