@* disable any reconnect screens *@

<style>
    #components-reconnect-modal
    {
        display: none !important;
        pointer-events: none;
    }
</style>

<div class="d-flex flex-column flex-root" id="kt_app_root">
    <div class="d-flex flex-column flex-lg-row flex-column-fluid">
        <a href="/" class="d-block d-lg-none mx-auto py-20">
            <img alt="Logo" src="/img/logo.svg" class="h-25px">
        </a>
        <div class="d-flex flex-column flex-column-fluid flex-center w-lg-50 p-10">
            <div class="d-flex justify-content-between flex-column-fluid flex-column w-100 mw-450px">
                <div class="d-flex flex-stack py-2">
                </div>
                <div class="py-20">
                    @ChildContent
                </div>
                <div class="m-0">
                </div>
            </div>
        </div>
        <div class="d-none d-lg-flex flex-lg-row-fluid w-50 bgi-size-cover bgi-position-y-center bgi-position-x-start bgi-no-repeat"> @*  style="background-image: url()" add bg image here *@
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
