<div class="d-flex justify-content-center flex-column text-center mt-8">
    <div class="d-flex justify-content-center">
        <div class="symbol symbol-circle h-90px w-90px bg-@(Color) text-center d-flex justify-content-center align-items-center">
            <i class="bx bx-lg @(Icon) text-white align-middle p-10"></i>
        </div>
    </div>
    <div class="fw-semibold text-center fs-2 mt-3">@(Title)</div>
    <div class="d-flex justify-content-center mt-7">
        <div class="fs-4 text-center text-wrap mw-@(MaxWidth)px">
            @if (ChildContent != null)
            {
                @ChildContent
            }
        </div>
    </div>
</div>

@code
{
    [Parameter] public string Icon { get; set; } = "";

    [Parameter] public string Title { get; set; } = "";

    [Parameter] public string Color { get; set; } = "secondary";

    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public int MaxWidth { get; set; } = 550;
}