<IconAlert Title="Feature not implemented...yet" Icon="bx-hard-hat" Color="info">
    This feature has not been implemented yet, but we are working on it. To stay updated with our progress, join our
    <a href="https://discord.gg/TJaspT7A8p">discord server</a>. If you want to support the development you can donate on <a href="https://ko-fi.com/masuowo">kofi</a>
</IconAlert>