@using Moonlight.Client.App.PluginApi

@inject PluginService PluginService

<Router AppAssembly="@typeof(BlazorApp).Assembly" AdditionalAssemblies="PluginService.PluginAssemblies">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>