@using Moonlight.Core.Helpers
@typeparam TForm

@foreach (var prop in typeof(TForm).GetProperties())
{
    <div class="col-md-@(Columns) col-12">
        @{
            var typeToCreate = typeof(AutoProperty<>).MakeGenericType(prop.PropertyType);
            var rf = ComponentHelper.FromType(typeToCreate, parameters =>
            {
                parameters.Add("Data", Model);
                parameters.Add("Property", prop);
            });
        }

        @rf
    </div>
}

@code
{
    [Parameter]
    public TForm Model { get; set; }

    [Parameter]
    public int Columns { get; set; } = 6;
}