<div class="text-center">
    <div class="flex justify-center">
        <div class="rounded-full p-5 h-20 w-20 bg-indigo-500">
            <i class="bi bi-tools text-4xl text-white"></i>
        </div>
    </div>
    <h3 class="mt-2 font-semibold text-white text-lg">Feature not implemented...yet</h3>
    <p class="mt-1 text-gray-300">This feature has not been implemented yet, but we are working on it. To stay updated with our progress, join our <a href="https://discord.gg/TJaspT7A8p" target="_blank" class="text-blue-500">discord server</a>. If you want to support the development you can donate on <a href="https://ko-fi.com/masuowo" target="_blank" class="text-blue-500">kofi</a></p>
</div>