@page "/admin/system/discordbot"
@using Moonlight.App.Services.DiscordBot
@using Moonlight.Shared.Components.Navigations

@inject DiscordBotService DiscordBotService

<OnlyAdmin>
    <AdminSystemNavigation Index="6"/>
    
    <div class="mt-3 card card-body">
        <WButton Text="Register commands"
                 WorkingText="Working"
                 CssClasses="btn-primary"
                 OnClick="RegisterCommands">
        </WButton>
    </div>
</OnlyAdmin>

@code 
{
    private async Task RegisterCommands()
    {
        
    }
}