@page "/admin/sys"

@using Moonlight.App.Extensions.Attributes
@using Moonlight.App.Models.Enums
@using Moonlight.App.Services
@using Moonlight.App.Services.Sys

@attribute [RequirePermission(Permission.AdminRoot)]

@inject MoonlightService MoonlightService

<AdminSysNavigation Index="0" />

<div class="row mt-5">
    <div class="col-md-4 col-12">
        <div class="card card-body">
            <ConfirmButton OnClick="MoonlightService.Restart" Text="Restart" CssClasses="btn-danger" />
        </div>
    </div>
</div>