@page "/admin/system/resources"

@using Moonlight.Shared.Components.Navigations
@using Moonlight.Shared.Components.FileManagerPartials
@using Moonlight.App.Models.Files.Accesses

<OnlyAdmin>
    <AdminSystemNavigation Index="5" />
    
    <div class="card card-body">
        <FileManager FileAccess="@(new HostFileAccess("resources"))">
        </FileManager>        
    </div>
</OnlyAdmin>