@page "/admin/system/resources"

@using Moonlight.Shared.Components.FileManagerPartials
@using Moonlight.App.Helpers.Files
@using Moonlight.Shared.Components.Navigations

<OnlyAdmin>
    <AdminSystemNavigation Index="5" />
    
    <div class="card card-body">
        <FileManager Access="@(new HostFileAccess("resources"))">
        </FileManager>        
    </div>
</OnlyAdmin>