@inherits BaseToast

<i class="bi bi-info-lg text-xl inline-block text-indigo-400 mr-3"></i>
<div class="text-sm font-normal">@(Text)</div>

@code
{
    [Parameter] public string Text { get; set; } = "Unset";
}